@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.task-form {
  text-align: center;
  display: block;
  width: 300px;
  background-color: white;
  margin-left: 10%;
  margin-top: 10%;
}
.task-form {
  border: 5px;
}
.input {
  display: flex;
  padding: 8px;
  margin: 3rem;
  border-radius: 5px;
  outline: none;
}
.button {
  margin: 25px;
}
.main-container {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-fill {
  background: white;
  text-align: left;
  margin: auto;
  max-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

thead {
  background-color: #246355;

  color: white;
}
tr:nth-child(even) {
  background-color: #ddd;
}
button {
  color: green;
}

@media only screen and (max-width: 600px) {
  body {
    height: auto;
  }
  .container {
    display: block;
  }

  .task-form {
    padding-top: 10px;
    margin-left: 20%;
    margin-bottom: 2rem;
  }
}
